@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Aeonik Pro';
  src: url('../../public/fonts/AeonikProTRIAL-Regular.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
}


#line1.active {
  animation: Anim1;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

#line1.rest {
  animation: Anim4;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

#line2 {
  transition: 0.25s;
  transition-delay: 0.25s;
}

#line2.active {
  transform: translateX(1rem);
  opacity: 0;
  transition: 0.25s;
  transition-delay: 0.25s;
}

#line3.active {
  animation: Anim3;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#line3.rest {
  animation: Anim5;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes Anim1 {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(0.5rem);
  }

  100% {
    transform: translateY(0.45rem) rotate(45deg);
  }
}

@keyframes Anim3 {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(-0.45rem) rotate(-45deg);
  }
}

@keyframes Anim4 {
  0% {
    transform: translateY(0.45rem) rotate(45deg);
  }

  50% {
    transform: translateY(0.5rem);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes Anim5 {
  0% {
    transform: translateY(-0.45rem) rotate(-45deg);
  }

  50% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0px);
  }
}

.menu {
  height: 100vh;
  top: -100vh;
  padding-top: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.menu.expand {
  height: 100vh;
  top: 0;
  padding-top: 5rem;
  opacity: 1;
  transition: 0.5s;
}

.menu.blurry {
  -webkit-backdrop-filter: blur(40.774227142333984px);
  backdrop-filter: blur(40.774227142333984px);
}